body {
  font-family: Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
  font-size: 12px;

}
/*刷新*/
.el-refresh{
  position:absolute;
  width:30px;
  height:30px;
  right:5px;
  top:20px;
  z-index:100;
}
.el-icon-refresh{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/*搜索*/
.seachClass{
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

/*==================表单页面的样式=================*/
.el-steps {
  margin: 20px;
}

.el-form {
  /*margin-right: 10px;*/
  background-color: #F5F5F5;
  /*border-radius: 4px;*/
  /*padding: 5px;*/
  /*padding-right: 20px;*/
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)*/
}

.buttonSpan {
  z-index: 100;
  line-height: 25px;
  position: fixed;
  left: 30%;
  bottom: 0px;
}

.el-backtop {
  position: fixed;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #409eff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .12);
  cursor: pointer;
  z-index: 5;
}

/*================上传图片相关=====================*/

/*弹窗上传图片的组件样式*/
.el-dialog__header {
  padding: 5px 20px 5px 20px;
}

.el-dialog__headerbtn {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}

.el-dialog--center .el-dialog__body {
  text-align: initial;
  padding: 0px;
}

.el-dialog__footer {
  padding: 5px;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.newFile {
  display: inline-block;
  background: #FFFFFF;
  border: 1px dashed #E3E2E5;
  border-radius: 4px;
  width: 145px;
  height: 145px;
  line-height: 145px;
  text-align: center;
  cursor: pointer;
  margin: 15px 15px 0px 15px;
  padding: 2px;
}

.addNewFile {
  height: 145px;
  width: 145px;
  font-size: 35px;
  text-align: center;

  color: #e4e4e4;
  font-weight: bold;
}



/*图片box*/
.imgBox {
  display: flex;
  flex-wrap: wrap;
  /*padding-bottom: 60px;*/
}
/*图片*/
.imgItem {
  width: 145px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-color: #c6e2ff;
  border-width: 1px;
  border-radius: 6px;
  margin: 15px 15px 0px 15px;
  padding: 2px;
}
/*图片显示（背景）*/
.imageShow{
  height:145px;
  width: 145px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
}

.showHide {
  position: relative;
  left: 50px;
  color: #000000;
}

/*图片名称效果*/
.nameSpan{
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  margin-top: 106px;
  opacity:0.7;
}
/*选中遮住效果*/
.selectCheck {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  text-align: center;
  border-radius: 6px;
}

/*图片上传组件样式*/
/*左侧*/
.leftCel {
  width: 200px;
}
/*右侧*/
.rightCel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*在弹窗中的高度*/
.rightCelHeightInWin{
  height: 550px;
  overflow: auto;
}
/*在普通页面中的高度*/
.rightCelHeightInPage{
  height: 750px;
  overflow: auto;
}

/*上传下边栏*/
.upFile {
  display: flex;
  /*justify-content: space-between;*/
  background-color: #f5f7fa;
  width: 100%;
  height: 40px;
  left: 0px;
  /*bottom: 0px;*/
  /*!*position: fixed;*!*/
  /*z-index: 200;*/
}

/*图片分类按钮树*/
.tree{
  width: 176px;
  /*left: 10px;*/
  /*top: 10px;*/
  /*position: fixed;*/
  z-index: 201;
}
/*图片分类按钮*/
.treeButton{
  margin: 8px 0px 0px 10px;
  width: 92%
}
/*上传的"+"*/
.el-form-item__content {
  line-height: 40px;
  position: relative;
  /*top: -145px;*/
  font-size: 20px;
}
.up_file_text{
  display: flex;
  justify-content: flex-end;
  position:relative;
  top: -5px;
  padding-right: 20px;
  width: 100%;

}
.up_file_text .text{
   font-size: 13px;
}