/*分页样式*/
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pagination li {
    display: inline-block;
    list-style: none;
    margin: 0 3px;
}
.pagination li a {
    padding:  5px 10px ;
    display: inline-block;
    border: 1px solid #FFFFFF;
    background: #fff;
    text-decoration: none;
    color: #0E90D2;
}
.pagination li a:hover {
    background: #eee;
}
.pagination li.active a {
    background: #f8aa08;
    color: #fff;
}