body{
    font-size: 13px;
}
#app{
    width: 100%;
    margin: auto;
}

/*表单窗口*/
.model_form{
    display: flex;
    flex-flow: wrap;
    border: 2px solid #e9e9eb;
    background-color: #FFFFFF;
    z-index: 99;
    font-size: 14px;
}

.flow {
    /*定义绝对位置浮动窗口*/
    position: absolute;
    top: 15px;
    left: 15px;
    width: 95%;

    /* Firefox */
    -moz-box-shadow: 3px 3px 8px 5px #C5C5C5;
    box-shadow: 3px 3px 8px 5px #C5C5C5;
}


.item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0 0 0 ;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
}
.item label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
.button_group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E6E6;
}

.line {
    border: 1px solid #E6E6E6;
    width: 99.8%;
    text-align: left;
}

.button_group label{
    padding: 5px 10px;
    width: 92%;
    text-align: left;
    font-weight: bold;
    cursor : move;
}
.button_group span{
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.button_group button {
    margin: 5px;
    padding: 6px 10px;
    background: #0E90D2;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.button_group button:hover{
     
    background: rgb(112, 207, 48);
    
}

.button {
    border-radius: 20px;
    border-radius: 20px;
}
.action {
     
    background: rgb(112, 207, 48);
    color: #fff;
    
}

.button-style {
    margin: 0px 10px  5px 5px;
    padding-left: 10px;
    height: 28px;
    line-height:28px;
    background: #e6e6e6;
    color: #000;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.button-over {
    margin: 0px 10px  5px 5px;
    padding-left: 20px;
    height: 28px;
    line-height:28px;
    background: #0E90D2;
    color: #FFF;
    font-size: 14px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.model_list{
    margin-top: 8px;
}
.model_list table {
    background:#ededed;
}
.model_list table tr {
    background:#FFFFFF;
    color:#000;
}
/*斑马效果*/
.model_list table tr:nth-child(even){
    background-color: #f6f6f6;
}
/*头部*/
.model_list table .h {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
/*列空隙*/
.model_list table tr td {
    padding: 5px;
}


/* 权限-分配资源相关页面css*/
.role {
    display: flex;
    justify-content: space-between;
}

.role .left {
    width: 40%;
    height: 800px;
    padding: 2px;
    background-color: #ECECEC;
}

.role .rigth {
    width: 58%;
}
table tr td {
    text-align: left;
}
.selectRow {
    background-color: #80bdff;
}

.courseChapterItem{
    margin: -1px 0 0 10px;
    padding: 3px;
    border: 1px solid #dddddd;
}

/*
  当添加的课程大于10个时，该CSS样式生效
  具体使用在course.html添加课程视频处
 */
/*课程滚动条设置*/
.nuiScroll {
    /*width: 100%;*/
    height: 139px;
    overflow: auto;
}
.nuiScroll::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
/*正常情况下滑块的样式*/

.nuiScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 6px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*鼠标悬浮在该类指向的控件上时滑块的样式*/

.nuiScroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*鼠标悬浮在滑块上时滑块的样式*/

.nuiScroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*正常时候的主干部分*/

.nuiScroll::-webkit-scrollbar-track {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: white;
}
/*鼠标悬浮在滚动条上的主干部分*/

.nuiScroll::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .01);
}


