<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程</title>

    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/eui/index.js"></script>

    <script src="../static/js/App.js"></script>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/checkIsLogin.js"></script>
    <script src="../static/js/FormBoxComponent.js"></script>
    <script src="../static/js/DataListComponent.js"></script>
    <script src="../static/js/ImagesUpComponent.js"></script>
    <script src="../static/js/ResourceComponent.js"></script>
    <script src="../static/js/PageComm.js"></script>

    <link href="../static/eui/element-ui.css" rel="stylesheet">
    <link href="../static/css/template.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/page.css" rel="stylesheet">

</head>
<body>
<div id="app">
    <!--引用form-box-comm组件-->
    <form-box-comm :add-api-url="url"
                   :box-title="boxTitle"
                   :edit-api-url="url"
                   :form-type="0"
                   :id-key="model.courseId"
                   :model="model"
                   :before-save="beforeSave"
                   :on-success="successHandler"
                   :on-validate="formValidateHandler"
                   ref="myForm">

        <!--添加自己的元素-->
        <template>
            <el-form v-if="model" style="background-color: #FFFFFF">
                <table>
                    <tr>
                        <td style="padding-right: 20px; vertical-align: text-top">
                            <div class="item">
                                <label for="courseName">名称：</label>
                                <input id="courseName" v-model="model.courseName">
                            </div>

                            <div class="item">
                                <label for="courseTypeId">类型：</label>
                                <select id="courseTypeId" style="width: 173px;"
                                        v-model="model.courseTypeId">
                                    <option selected="selected" value="0">请选择</option>
                                    <option :value="item.courseTypeId"
                                            v-for="item in courseTypeList">{{item.courseTypeName}}
                                    </option>
                                </select>
                            </div>

                            <div class="item">
                                <label for="courseCategoryId">分类：</label>
                                <select @change="selectCourseForPeople" id="courseCategoryId" style="width: 173px;"
                                        v-model="model.courseCategoryId">
                                    <option selected="selected" value="0">请选择</option>
                                    <option :value="item.courseCategoryId"
                                            v-for="item in courseCategoryList">{{item.courseCategoryName}}
                                    </option>
                                </select>
                                <span>无法归类可不选。</span>
                            </div>

                            <div class="item">
                                <label>知识点：</label>
                                <div style="display: flex; width: 400px; flex-wrap: wrap;">
                                    <span style="width: 120px;padding: 3px;" v-for="item in courseKnowledgeListSelect">
                                     <input type="checkbox"
                                            :id="item.courseKnowledgeId"
                                            :value="item"
                                            v-model="model.courseKnowledgeList"><label style="margin: 0;width: auto;"
                                                                                       :for="item.courseKnowledgeId">{{item.courseKnowledgeName}}</label>
                                    </span>
                                </div>
                            </div>

                            <div class="item">
                                <label>适用人群：</label>
                                <div style="display: flex; width: 400px; flex-wrap: wrap;">
                                    <span style="width: 150px;padding: 3px;" v-for="item in courseForPeopleList">
                                      <input type="checkbox"
                                             :id="item.courseForPeopleId"
                                             :value="item"
                                             v-model="model.courseForPeopleList"><label style="margin: 0;width: auto;"
                                                                                        :for="item.courseForPeopleId">{{item.courseForPeopleName}}</label>
                                    </span>
                                </div>
                            </div>


                            <div class="item">
                                <!--引入上传附件的组件-->
                                <img-up-comm ref="myImg"
                                             from-page="course"
                                             :check-number-max="checkNumberMax"
                                             :is-check-img-list="isCheckImgList"
                                             :on-select="onSelect"></img-up-comm>
                            </div>

                            <div class="item">
                                <label for="courseDes">描述：</label>
                                <textarea id="courseDes" style="width: 410px; height: 100px;"
                                          v-model="model.courseDes">{{model.courseDes}}</textarea>
                            </div>
                        </td>
                        <td style=" vertical-align: text-top" ref="videoRow">
                            <div class="item" v-for="(item,index) in courseChapterList">
                                <span>
                                    <input type="number" v-model="item.courseChapterSort" style="width: 30px;">
                                    <input @focus="setVal($event,item,index)"
                                           @blur="setVal($event,item,index,1,'blur')"
                                           @load="setVal($event,item,index,1,'load')"
                                           :style="{width: '150px', color:item.courseChapterName==courseChapterName? showText:'#000'}"
                                           v-model="item.courseChapterName">

                                    <input @focus="setVal($event,item,index,2)"
                                           @blur="setVal($event,item,index,2,'blur')"
                                           :style="{width: '280px', color:item.courseChapterText==courseChapterText? showText:'#000'}"
                                           v-model="item.courseChapterText">
                                    <input type="radio" v-model="item.courseChapterType" :name="item.courseChapterId"
                                           value="1"><span>视频源</span>
                                    <input type="radio" v-model="item.courseChapterType" :name="item.courseChapterId"
                                           value="2"><span>URL地址</span>
                                    <input v-if="courseChapterList.length>1" type="button" @click="delRow(index)"
                                           value="删除">
                                </span>
                            </div>

                            <div style="display: flex;justify-content: flex-end">
                                <input type="button" @click="addRow" value="继续添加">
                            </div>
                        </td>
                    </tr>
                </table>

            </el-form>

        </template>
        <!--添加自己的元素 结束-->
    </form-box-comm>

    <!--引用data-list-comm组件-->
    <data-list-comm ref="list"
                    :list-api-url="url+'?size='+page.size+'&current='+page.current"
                    :delete-api-url="url"
                    row-id-key="courseId"
                    :on-add-new-form="onAddNewFormHandler"
                    is-page="true"
                    :on-page="onPage"
                    @on-delete-success="getList"
                    ref-parent="true">
        <template slot="bts">
            <button>同步B站视频</button>
        </template>
        <template slot="page"  v-if="page.pages">
            <page-comm :current="page.current" :allpage="page.pages" :size="page.size"  :total="page.total" :index-page-data="indexPageData"></page-comm>
        </template>
        <!--自定义表头,覆盖默认模板-->
        <template slot="dataHead">
            <tr class="h">
                <td style="text-align: center;width: 8%">课程类型</td>
                <td style="text-align: center;width: 8%">课程分类</td>
                <td style="text-align: center; width: 18%">课程</td>
                <td style="text-align: center;width: 15%">章节视频</td>
                <td style="text-align: center;width: 8%">适用人群</td>
                <td style="text-align: center;width: 8%">知识点</td>
                <td style="text-align: center;width: 20%">课程描述</td>
                <td style="text-align: center;">操作</td>
            </tr>
        </template>
        <template>
            <tr v-if="modelList !=null && modelList.length>0"
                v-for="(item,index) in modelList">
                <td>{{item.courseType? item.courseType.courseTypeName:''}}</td>
                <td>{{item.courseCategory? item.courseCategory.courseCategoryName:''}}</td>

                <td style="display: flex; align-items: center">
                    <img :src="BASE_IMG_URL+item.courseImg" style="border-radius: 5px;"
                         onload="App.autoResizeImage(this,60,60)">
                    <span style="margin-left: 10px;">{{item.courseName}}</span>
                </td>

                <td>
                    <div v-if="item.courseChapterList.length>0"
                         @click="show(item,index)" :style="{cursor:'pointer',color:item.color}">
                        {{item.courseChapterList.length}}个视频 [{{item.isShow ?'收起':'展开'}}]
                    </div>
                    <div v-show="item.isShow" class="item" v-if="item.courseChapterList"
                         v-for="chapterItem in item.courseChapterList">
                        <a :href="'http://localhost:81/detail?vid='+item.courseId+'&cid='+chapterItem.courseChapterId" target="_blank">{{chapterItem.courseChapterName}}</a>
                    </div>
                </td>

                <td>
                    <div v-if="item.courseForPeopleList" v-for="peopleItem in item.courseForPeopleList">
                        {{peopleItem.courseForPeopleName}}
                    </div>
                </td>

                <td>
                    <div v-if="item.courseKnowledgeList" v-for="knowledgeItem in item.courseKnowledgeList">
                        {{knowledgeItem.courseKnowledgeName}}
                    </div>
                </td>

                <td>{{item.courseDes}}</td>
                <td style="text-align: center;">
                    <button @click="onEditFormHandler(item)">编辑</button>
                    <button @click="del(item)">删除</button>
                </td>
            </tr>
        </template>
    </data-list-comm>
</div>
<script>

    let vue = new Vue({
        el: '#app',
        data: {
            boxTitle: '新增课程',
            url: global_api_url + "course",
            //表单的对象
            // 表单的对象不一定和列表表单字段一样，所以单独定义
            //对象
            model: {
                courseId: null,
                courseTypeId: 0,
                courseCategoryId: 0,
                courseName: null,
                courseImg: null,
                courseDes: null,
                //章节列表（如：视频）
                courseChapterList: [],
                //知识点
                courseKnowledgeList: [],
                //适用人群
                courseForPeopleList: []
            },

            //课程分类
            courseCategoryList: [],
            //课程类型
            courseTypeList: [],

            //数据没有输入的情况下提示
            showText: '#C2C2C2',
            courseChapterName: '输入视频名称',
            courseChapterText: '输入视频地址',
            //视频地址（多个）
            //注意：不使用model中的courseChapterList属性是因为Vue在处理
            //复合对象时，层级很深在数据渲染这方面很不友好。
            //因此，单独在外部定义数组对象，在绑定数据方面很轻松
            //当提交数据时，把该对象赋给model中的属性即可。
            courseChapterList: [],
            //知识点
            courseKnowledgeList: [],
            courseKnowledgeListSelect: [],
            //适用人群
            courseForPeopleList: [],

            //--------------------------------------------------------------上传图片组件参数
            checkNumberMax: 1,
            isCheckImgList: [],
            //-------------------------------------------------------------- end

            //数据列表
            modelList: [],
            page: {
                current: 1,
                size: 10,
                pages: 0,
                total:0
            }
        },

        created() {
            //列表数据：课程类型
            App.getBaseListApi(global_api_url + "courseType", (rs) => this.courseTypeList = rs);
            //列表信息：课程分类
            App.getBaseListApi(global_api_url + "courseCategory", (rs) => this.courseCategoryList = rs);
            //多选项数据：课程涉及的知识点
            //App.getBaseListApi(global_api_url + "courseKnowledge?courseCategoryId="+this.courseCategoryId, (rs) => this.courseKnowledgeList = rs);
            App.getBaseListApi(global_api_url + "courseKnowledge", (rs) => this.courseKnowledgeList = rs);
            //多选项数据：适用人群
            App.getBaseListApi(global_api_url + "courseForPeople", (rs) => this.courseForPeopleList = rs);

        },

        //虚拟DOM挂在后再调用
        mounted() {
            this.getList();
        },

        methods: {

            onPage(page) {
                this.page = page;
                console.log("3--------course page======", this.page);
            },

            //读取当前页数据
            indexPageData(index) {
                this.page.current = index;
                console.log("1----indexPageData  index===============>", this.page)
                this.getList(this.url + '?size=' + this.page.size + '&current=' + this.page.current);
            },

            /**
             * 必须设置async，且是mounted方法内执行，否则无法取到有异步请求远程数据
             */
            async getList(url) {
                console.log("2-----getList,here.....................")
                //此方法内有异步，必须设置等待
                await this.$refs.list.getModelList(url);
                this.modelList = this.$refs.list.modelList;
                console.log("4------course modelList======", this.modelList);

            },


            /**
             * 展开、收缩
             */
            show(item, index) {
                item.isShow = !item.isShow;
                item.color = item.isShow ? "red" : null;
                this.modelList.splice(index, 1, item);
                console.log("show modelList======", this.modelList);
            },

            /**
             * 获得焦点和失去焦点的处理
             */
            setVal(event, item, index, type = 1, from = 'focus') {
                let target = event.target;
                if (type == 1) {
                    this._setStyle(target, index, item, this.courseChapterName, "courseChapterName", from);
                } else if (type == 2) {
                    this._setStyle(target, index, item, this.courseChapterText, "courseChapterText", from);
                }
            },


            /**
             * 设置样式
             */
            _setStyle(target, index, item, checkText, keyName, from) {
                let valueText = target.value;
                if (from === 'focus') {
                    if (valueText === checkText) {
                        item[keyName] = "";
                    }
                } else {
                    if (valueText === "") {
                        item[keyName] = checkText;
                    } else {
                        let str = this.videoFromB(valueText);
                        console.log(str);
                        item[keyName] = str;
                    }
                }
            },

            /**
             * 从B站直接贴进来的视频地址（含ifram的）
             */
            videoFromB(str) {
                if (str.indexOf("<iframe") > -1) {
                    let node = document.createElement("span");
                    if (typeof str == "string")
                        node.innerHTML = str;
                    return node.childNodes[0].src;
                } else {
                    return str;
                }
            },


            /**
             * 新增一个视频地址
             */
            addRow() {
                //如果有数据，继续往里面填充
                if (this.courseChapterList != null && this.courseChapterList.length > 0) {
                    this.courseChapterList.push({
                        courseChapterSort: this.courseChapterList.length + 1,
                        courseChapterName: this.courseChapterName,
                        courseChapterText: this.courseChapterText,
                        courseChapterType: 1
                    });
                } else {
                    //如果还没数据，可以设置一个新的初始值
                    this.courseChapterList = [{
                        courseChapterSort: 1,
                        courseChapterName: this.courseChapterName,
                        courseChapterText: this.courseChapterText,
                        courseChapterType: 1
                    }];
                }
            },

            /**
             * 删除视频地址
             */
            delRow(index) {

                this.courseChapterList.splice(index, 1);
            },

            /**
             * 启用前置方法。把视频数据放入模型
             */
            beforeSave(model) {
                if (this.courseChapterList) {
                    if (model.courseTypeId == 0) model.courseTypeId = null;
                    if (model.courseCategoryId == 0) model.courseCategoryId = null;
                    // 过滤没填写的信息，根据需求处理。
                    // 不同的需求不同的处理方式。
                    let newCourseChapterList = this.courseChapterList.filter(item => {
                        //视频地址必须填，否则过滤掉。
                        if (item.courseChapterText != null
                            && item.courseChapterText != this.courseChapterText) {
                            //返回
                            return item;
                        }
                    })
                    // 通过上面的过滤之后，得到新的视频列表
                    // 此时，赋给model的属性courseChapterList
                    model.courseChapterList = newCourseChapterList;
                }
                return model;
            },

            /**
             * 挂载表单保存数据前，验证方法
             * 这个方法必须有true/false返回值
             */
            formValidateHandler(model) {
                //console.log(model);
                if (model.courseName == null || model.courseName == "") {
                    alert("名称必须输入！");
                    return false;
                } else {
                    return true;
                }
            },

            /**
             * 数据保存成功后执行
             */
            successHandler(data) {
                //console.log(data);
                this.getList();
                this.$refs.myForm.closeForm();
            },

            /**
             * 挂载新建表单方法
             */
            onAddNewFormHandler() {
                //恢复原样
                this.model = {};
                this.model.courseTypeId = 0;
                this.model.courseCategoryId = 0;
                this.model.courseKnowledgeList = [];
                this.model.courseForPeopleList = [];
                //初始化
                this.addRow();
                //打开窗口
                this.$refs.myForm.showForm();
                this.isCheckImgList = [];
                this.boxTitle = '新增课程';
                this.courseKnowledgeListSelect = this.courseKnowledgeList;
            },

            /**
             * 挂载获得编辑表单方法
             */
            onEditFormHandler(item) {
                this.model = {};
                this.isCheckImgList = [];
                //打开窗口
                this.$refs.myForm.showForm();
                this.boxTitle = `正在修改[${item.courseName}]`;
                //取数据并把数据给model
                App.getFormDataById(this.url + "/" + item.courseId, rs => {
                    //结果集赋值给模型
                    this.model = rs;
                    //已选中的图片
                    this.isCheckImgList.push({resourceName: this.model.courseImg});
                    //将视频对象赋值给courseChapterList变量
                    let chapterList = this.model.courseChapterList;
                    if (chapterList != null && chapterList.length > 0) {
                        this.courseChapterList = chapterList;
                    } else {
                        this.addRow();
                    }
                    this.selectForPeopleByCategoryId(this.model.courseCategoryId);
                });
            },

            /**
             * 选择适用人群事件，此方法主要是在事件上点击
             */
            selectCourseForPeople(event) {
                let courseCategoryId = event.target.value;
                this.selectForPeopleByCategoryId(courseCategoryId);
            },

            /**
             * 选择适用人群事件，此方法是多个地方使用。
             */
            selectForPeopleByCategoryId(courseCategoryId) {
                if (courseCategoryId == 0 || courseCategoryId == null) {
                    this.courseKnowledgeListSelect = this.courseKnowledgeList;
                } else {
                    this.courseKnowledgeListSelect = [];
                    this.courseKnowledgeList.forEach(item => {
                        if (item.courseCategoryId == courseCategoryId) {
                            this.courseKnowledgeListSelect.push(item);
                        }
                    });
                }
                // console.log(this.courseKnowledgeListSelect);
            },

            /**
             * 图片选择成功之后，处理
             */
            onSelect(selectImg) {
                console.log("选中后的图片===》", selectImg);
                //  给当前的已选图片对象
                // （注意如果当前对象还没拿到数据时，由于监听的存在可能导致数据丢失）
                this.isCheckImgList = selectImg;
                //根据需要再做处理
                this.model.courseImg = selectImg[0].resourceName;
            },

            /**
             * 删除数据
             * @param frontendMenuId
             */
            del(item) {
                //直接调用子组件方法
                this.$refs.list.del(item);
            }
        }
    });
</script>
</body>
</html>