<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加、修改课程</title>

    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/eui/index.js"></script>

    <script src="../static/js/ckeditor.js"></script>

    <script src="../static/js/App.js"></script>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/checkIsLogin.js"></script>
    <script src="../static/js/FormBoxComponent.js"></script>
    <script src="../static/js/DataListComponent.js"></script>
    <script src="../static/js/ImagesUpComponent.js"></script>
    <script src="../static/js/ResourceComponent.js"></script>
    <script src="../static/js/PageComm.js"></script>

    <link href="../static/eui/element-ui.css" rel="stylesheet">
    <link href="../static/css/template.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/page.css" rel="stylesheet">
    <style>
        .ck-editor__editable {
            width: 872px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <!--引用form-box-comm组件-->
    <form-box-comm :add-api-url="url"
                   :box-title="boxTitle"
                   :edit-api-url="url"
                   :form-type="1"
                   :id-key="model.courseId"
                   :model="model"
                   :before-save="beforeSave"
                   :on-success="successHandler"
                   :on-validate="formValidateHandler"
                   ref="myForm">

        <!--添加自己的元素-->
        <template>

            <el-form v-if="model" style="background-color: #FFFFFF">
                <el-col :span="16">
                    <div class="item">
                        <label for="courseName">名称：</label>
                        <input style="width: 260px;" id="courseName" v-model="model.courseName">
                    </div>

                    <div class="item">
                        <label for="courseTypeId">类型：</label>
                        <select style="width: 260px;" id="courseTypeId" style="width: 173px;"
                                v-model="model.courseTypeId">
                            <option selected="selected" value="0">请选择</option>
                            <option :value="item.courseTypeId"
                                    v-for="item in courseTypeList">{{item.courseTypeName}}
                            </option>
                        </select>
                    </div>

                    <div class="item">
                        <label for="courseCategoryId">分类：</label>
                        <select style="width: 260px;" @change="selectCourseKnowledge" id="courseCategoryId"
                                style="width: 173px;"
                                v-model="model.courseCategoryId">
                            <option selected="selected" value="0">请选择</option>
                            <option :value="item.courseCategoryId"
                                    v-for="item in courseCategoryList">{{item.courseCategoryName}}
                            </option>
                        </select>
                        <span style="margin-left: 10px;">无法归类可不选。</span>
                    </div>

                    <div class="item">
                        <label>知识点：</label>

                        <div style="display: flex; width: 100%; flex-wrap: wrap;"
                             :class="{nuiScroll:courseKnowledgeListSelect.length>14}">
                            <span style="width: 120px;padding: 3px;" v-for="item in courseKnowledgeListSelect">
                             <input type="checkbox"
                                    :id="item.courseKnowledgeId"
                                    :value="item"
                                    v-model="model.courseKnowledgeList">
                                <label style="margin: 0;width: auto;"
                                       :for="item.courseKnowledgeId">{{item.courseKnowledgeName}}</label>
                            </span>
                        </div>

                    </div>

                    <div class="item">
                        <label>适用人群：</label>
                        <div style="display: flex; width: 100%; flex-wrap: wrap;">
                            <span style="width: 150px;padding: 3px;" v-for="item in courseForPeopleList">
                              <input type="checkbox"
                                     :id="item.courseForPeopleId"
                                     :value="item"
                                     v-model="model.courseForPeopleList">
                                <label style="margin: 0;width: auto;"
                                       :for="item.courseForPeopleId">{{item.courseForPeopleName}}</label>
                            </span>
                        </div>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div class="item" style="margin-left: 10px; border-bottom: 0px;">
                        <!--引入上传附件的组件-->
                        <img-up-comm ref="myImg"
                                     label-text="视频封面"
                                     from-page="course"
                                     :check-number-max="checkNumberMax"
                                     :is-check-img-list="isCheckImgList"
                                     :on-select="onSelect"></img-up-comm>
                    </div>
                </el-col>

                <el-col :span="24">
                    <div class="item">
                        <label>添加视频：</label>
                        <div :class="{nuiScroll:courseChapterList.length>5}">
                            <div class="item courseChapterItem" v-for="(item,index) in courseChapterList">
                                <input type="number" v-model="item.courseChapterSort" style="width: 30px;">
                                <input @focus="setVal($event,item,index)"
                                       @blur="setVal($event,item,index,1,'blur')"
                                       @load="setVal($event,item,index,1,'load')"
                                       :style="{width: '300px', color:item.courseChapterName==courseChapterName? showText:'#000'}"
                                       v-model="item.courseChapterName">

                                <input @focus="setVal($event,item,index,2)"
                                       @blur="setVal($event,item,index,2,'blur')"
                                       :style="{width: '420px', color:item.courseChapterText==courseChapterText? showText:'#000'}"
                                       v-model="item.courseChapterText">
                                <input type="radio" v-model="item.courseChapterType" :name="item.courseChapterId"
                                       value="1"><span>自制</span>
                                <input type="radio" v-model="item.courseChapterType" :name="item.courseChapterId"
                                       value="2"><span>引用</span>
                                <input v-if="courseChapterList.length>1" type="button" @click="delRow(index)"
                                       value="删除">
                            </div>
                        </div>
                        <div>
                            <input type="button" @click="addRow"
                                   :value="'继续添加('+courseChapterList.length+')'">
                        </div>
                    </div>
                </el-col>
                <el-col :span="24">
                    <!--引入富文本-->
                    <div class="item">
                        <!--在需要使用编辑器的地方插入textarea标签 -->
                        <label>课程描述：</label>
                        <div id="courseDes" v-model="model.courseDes"></div>
                    </div>
                </el-col>

            </el-form>

        </template>
        <!--添加自己的元素 结束-->
    </form-box-comm>
</div>
<script>

    let vue = new Vue({
        el: '#app',
        data: {
            boxTitle: '新增课程',
            url: global_api_url + "course",
            //表单的对象
            // 表单的对象不一定和列表表单字段一样，所以单独定义
            //对象
            model: {
                courseId: null,
                courseTypeId: 0,
                courseCategoryId: 0,
                courseName: null,
                courseImg: null,
                courseDes: null,
                //章节列表（如：视频）
                courseChapterList: [],
                //知识点
                courseKnowledgeList: [],
                //适用人群
                courseForPeopleList: []
            },

            //课程分类
            courseCategoryList: [],
            //课程类型
            courseTypeList: [],

            //数据没有输入的情况下提示
            showText: '#C2C2C2',
            courseChapterName: '输入视频名称',
            courseChapterText: '输入视频地址',
            //视频地址（多个）
            //注意：不使用model中的courseChapterList属性是因为Vue在处理
            //复合对象时，层级很深在数据渲染这方面很不友好。
            //因此，单独在外部定义数组对象，在绑定数据方面很轻松
            //当提交数据时，把该对象赋给model中的属性即可。
            courseChapterList: [],
            //知识点
            courseKnowledgeList: [],
            courseKnowledgeListSelect: [],
            //适用人群
            courseForPeopleList: [],

            //--------------------------------------------------------------上传图片组件参数
            checkNumberMax: 1,
            isCheckImgList: [],
            //-------------------------------------------------------------- end

        },

        created() {
            this.init();
        },

        //
        mounted() {
            ClassicEditor
                .create(document.querySelector('#courseDes'))
                .catch(error => {
                    console.error(error);
                });
        },

        methods: {

            init() {
                //列表数据：课程类型
                  App.getBaseListApi(global_api_url + "courseType", (rs) => this.courseTypeList = rs);
                //列表信息：课程分类
                  App.getBaseListApi(global_api_url + "courseCategory", (rs) => {
                    this.courseCategoryList = rs;
                });
                //多选项数据：课程涉及的知识点
                 App.getBaseListApi(global_api_url + "courseKnowledge", (rs) => {
                    this.courseKnowledgeList = rs;
                    this.getEditFormByCourseId(App.getParameter("courseId"));
                });

                //多选项数据：适用人群
                 App.getBaseListApi(global_api_url + "courseForPeople", (rs) => this.courseForPeopleList = rs);

            },

            /**
             * 挂载获得编辑表单方法
             */
           async getEditFormByCourseId(courseId) {
                if(courseId && courseId !=null) {
                    //取数据并把数据给model
                    await App.getFormDataById(this.url + "/" + courseId, rs => {
                        //结果集赋值给模型
                        this.model = rs;
                        //已选中的图片
                        this.isCheckImgList.push({resourceName: this.model.courseImg});
                        //将视频对象赋值给courseChapterList变量
                        let chapterList = this.model.courseChapterList;
                        if (chapterList != null && chapterList.length > 0) {
                            this.courseChapterList = chapterList;
                        } else {
                            this.addRow();
                        }
                        this.selectCourseKnowledgeByCategoryId(this.model.courseCategoryId);
                    });
                }else{
                    this.selectCourseKnowledge();
                    this.addRow();
                }
            },

            /**
             * 获得焦点和失去焦点的处理
             */
            setVal(event, item, index, type = 1, from = 'focus') {
                let target = event.target;
                if (type == 1) {
                    this._setStyle(target, index, item, this.courseChapterName, "courseChapterName", from);
                } else if (type == 2) {
                    this._setStyle(target, index, item, this.courseChapterText, "courseChapterText", from);
                }
            },


            /**
             * 设置样式
             */
            _setStyle(target, index, item, checkText, keyName, from) {
                let valueText = target.value;
                if (from === 'focus') {
                    if (valueText === checkText) {
                        item[keyName] = "";
                    }
                } else {
                    if (valueText === "") {
                        item[keyName] = checkText;
                    } else {
                        let str = this.videoFromOther(valueText);
                        console.log(str);
                        item[keyName] = str;
                    }
                }
            },

            /**
             * 含ifram的，如从B站直接贴进来的视频地址
             */
            videoFromOther(str) {
                if (str.indexOf("<iframe") > -1) {
                    let node = document.createElement("span");
                    if (typeof str == "string")
                        node.innerHTML = str;
                    return node.childNodes[0].src;
                } else {
                    return str;
                }
            },


            /**
             * 新增一个视频地址
             */
            addRow() {
                //如果有数据，继续往里面填充
                if (this.courseChapterList != null && this.courseChapterList.length > 0) {
                    this.courseChapterList.push({
                        courseChapterSort: this.courseChapterList.length + 1,
                        courseChapterName: this.courseChapterName,
                        courseChapterText: this.courseChapterText,
                        courseChapterType: 1
                    });
                } else {
                    //如果还没数据，可以设置一个新的初始值
                    this.courseChapterList = [{
                        courseChapterSort: 1,
                        courseChapterName: this.courseChapterName,
                        courseChapterText: this.courseChapterText,
                        courseChapterType: 1
                    }];
                }
            },

            /**
             * 删除视频地址
             */
            delRow(index) {

                this.courseChapterList.splice(index, 1);
            },


            /**
             * 启用前置方法。把视频数据放入模型
             */
            beforeSave(model) {
                if (this.courseChapterList) {
                    if (model.courseTypeId == 0) model.courseTypeId = null;
                    if (model.courseCategoryId == 0) model.courseCategoryId = null;
                    // 过滤没填写的信息，根据需求处理。
                    // 不同的需求不同的处理方式。
                    let newCourseChapterList = this.courseChapterList.filter(item => {
                        //视频地址必须填，否则过滤掉。
                        if (item.courseChapterText != null
                            && item.courseChapterText != this.courseChapterText) {
                            //返回
                            return item;
                        }
                    })
                    // 通过上面的过滤之后，得到新的视频列表
                    // 此时，赋给model的属性courseChapterList
                    model.courseChapterList = newCourseChapterList;
                }
                return model;
            },

            /**
             * 挂载表单保存数据前，验证方法
             * 这个方法必须有true/false返回值
             */
            formValidateHandler(model) {
                //console.log(model);
                if (model.courseName == null || model.courseName == "") {
                    alert("名称必须输入！");
                    return false;
                } else {
                    return true;
                }
            },

            /**
             * 数据保存成功后执行
             */
            successHandler(data) {
                //console.log(data);
                //this.getList();
                //this.$refs.myForm.closeForm();
            },


            /**
             * 选择适用人群事件，此方法主要是在事件上点击
             */
            selectCourseKnowledge(event) {
                let courseCategoryId = 0;
                if (event) {
                    courseCategoryId = event.target.value;
                }
                this.selectCourseKnowledgeByCategoryId(courseCategoryId);
            },

            /**
             * 选择适用人群事件，此方法是多个地方使用。
             */
            selectCourseKnowledgeByCategoryId(courseCategoryId) {
                if (courseCategoryId == 0 || courseCategoryId == null) {
                    this.courseKnowledgeListSelect = this.courseKnowledgeList;
                } else {
                    this.courseKnowledgeListSelect = [];
                    this.courseKnowledgeList.forEach(item => {
                        if (item.courseCategoryId == courseCategoryId) {
                            this.courseKnowledgeListSelect.push(item);
                        }
                    });
                }
                console.log("courseKnowledgeListSelect====", this.courseKnowledgeListSelect);
            },

            /**
             * 图片选择成功之后，处理
             */
            onSelect(selectImg) {
                console.log("选中后的图片===》", selectImg);
                //  给当前的已选图片对象
                // （注意如果当前对象还没拿到数据时，由于监听的存在可能导致数据丢失）
                this.isCheckImgList = selectImg;
                //根据需要再做处理
                this.model.courseImg = selectImg[0].resourceName;
            }
        }
    });
</script>
</body>
</html>