<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/niudao.ico"/>
    <title>牛刀知识共享平台-课程列表</title>
    <meta name="keywords"
          content="视频、教程、课程、学习、直播、美女直播课程、帅哥直播课程、大神、大牛、牛人、程序员、程序猿、Java、Spring、SpringBoot、SpringCloud、javascript、vue、AI、大数据、区块链、系统架构、高手、技术牛人、应用场景、oa、crm、b2b、b2c、o2o、hr">
    <meta name="description"
          content="视频、教程、课程、学习、直播、美女直播课程、帅哥直播课程、大神、大牛、牛人、程序员、程序猿、Java、Spring、SpringBoot、SpringCloud、javascript、vue、AI、大数据、区块链、系统架构、高手、技术牛人、应用场景、oa、crm、b2b、b2c、o2o、hr">

    <link rel="stylesheet" href="./plugs/custom-scrollbar/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="./public/css/niudao.css">
    <link rel="stylesheet" href="./public/css/page.css">

    <!--第三方JS框架-->
    <script src="./public/js/vue.min.js"></script>
    <script src="./public/js/axios.min.js"></script>
    <script src="./plugs/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./plugs/custom-scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--自定义JS文件夹-->
    <script src="./public/js/comm.js"></script>
    <script src="public/js/header-comm.js"></script>
    <script src="public/js/video-list-comm.js"></script>
    <script src="./public/js/page-comm.js"></script>
</head>

<body>
<div id="app" class="web-wrap public-custom-scrollbar">
    <header-comm index="1"></header-comm>

    <div class="develop-video-content minheight" style="margin-top: 80px;">
        <div class="public-bread-share">
            <ul class="public-bread-list margin-auto">
                <li><i class="tml-icon tml-adress"></i>当前位置：</li>
                <li><a href="/">首页 &gt;</a></li>
                <li><a href="javascript:;">课程列表</a></li>
            </ul>
        </div>
        <div class="public-list-screen ">
            <ul class="public-list-screen-ul public-tab-list">
                <label>课程类型：</label>
                <li :class="model.courseTypeId?'':'on'" @click="selectCourseType(0)">全部</li>
                <li v-for="(item,index) in courseTypeList"
                    @click="selectCourseType(item.courseTypeId)"
                    :class="model.courseTypeId==item.courseTypeId?'on':''">{{item.courseTypeName}}
                </li>
            </ul>
            <ul class="public-list-screen-ul public-tab-list">
                <label>课程分类：</label>
                <li :class="model.courseCategoryId?'':'on'" @click="selectForPeopleByCategoryId(0)">全部</li>
                <li v-for="(item,index) in courseCategoryList"
                    @click="selectForPeopleByCategoryId(item.courseCategoryId)"
                    :class="model.courseCategoryId==item.courseCategoryId?'on':''">{{item.courseCategoryName}}
                </li>
            </ul>
            <ul class="public-list-screen-ul public-tab-list" v-if="courseKnowledgeListSelect.length>0">
                <label>知识点：</label>
                <li :class="courseKnowledgeListSelectAll?'on':''" @click="selectCourseKnowledge()">全部</li>
                <li v-for="(item,index) in courseKnowledgeListSelect"
                    @click="selectCourseKnowledge(item,index)"
                    :class="item.hashSelect?'on':''">{{item.courseKnowledgeName}}
                </li>
            </ul>

            <ul class="public-list-screen-ul public-tab-list">
                <label>适用人群：</label>
                <li :class="courseForPeopleListSelectAll?'on':''" @click="selectCourseForPeople()">全部</li>
                <li v-for="(item,index) in courseForPeopleList"
                    @click="selectCourseForPeople(item,index)"
                    :class="item.hashSelect?'on':''">{{item.courseForPeopleName}}
                </li>
            </ul>

            <div class="public-screen-search">
                <div class="search-sort">
                    <ul class="search-sort-ul public-tab-list">
                        <li  :class="model.orderTyp == 0?'on':''"  @click="model.orderType=0" v-model="model.orderType">默认排序</li>
                        <li  :class="model.orderTyp == 1?'on':''"  @click="model.orderType=1" v-model="model.orderType">最新发布</li>
                        <li  :class="model.orderTyp == 0?'on':''"  @click="model.orderType=0" v-model="model.orderType">学习人数</li>
                    </ul>
                </div>
                <div class="search-box">
                    <p>共有<span>{{page.total}}</span>个教程</p>
                    <div>
                        <i class="tml-icon tml-top-search"></i>
                        <input v-model="model.keyword" class="searchinput" type="text">
                    </div>
                </div>
            </div>
        </div>

        <!--列表组件-->
        <video-list-comm ref="list" search="true" :params="params" :load-success="loadSuccess"></video-list-comm>
        <!--分页组件-->
        <div v-if="params">
            <page-comm :current="page.current" :allpage="page.pages" :size="page.size" :total="page.total" :index-page-data="indexPageData"></page-comm>
        </div>

    </div>

    <footer-item></footer-item>

</div>
<script src="./public/js/footer.js" type="text/javascript"></script>
<script>
    let vue = new Vue({
        el: "#app",
        data: {
            //现存问题：
            // 1、切换上面的搜搜和下面的分页不一致。
            // 2、排序
            //搜索模型
            model: {
                courseCategoryId: "",
                courseTypeId: "",
                courseKnowledgeList: [],
                courseForPeopleList: [],
                keyword: "",
                orderType:0
            },

            //-------------------------------------
            //课程分类
            courseCategoryList: [],
            //课程类型
            courseTypeList: [],

            //--------------------------------------
            //知识点，这是数据源。
            courseKnowledgeList: [],
            //选择显示
            //全部选中的状态
            courseKnowledgeListSelectAll: true,
            //这是被筛选过后的列表
            courseKnowledgeListSelect: [],
            //--------------------------------------

            //适用人群
            //全选状态
            courseForPeopleListSelectAll: true,
            courseForPeopleList: [],
            //分页对象
            page: {
                current: 1,    //当前页
                pages: 0,     //总页数
                total: 0,     //总条数
                size: 20      //每页显示
            },
            //查询参数
            params: null
        },

        created: function () {
            this.init();
        },
        watch: {
            /**
             * 监听模型对象，有变化就搜索
             */
            model: {
                handler(newModel, oldModel) {
                    console.log("搜索开始====>>>", newModel);
                    //执行搜索,把最新的模型数据，给getParams
                    this.$refs.list.getData(this.getParams(newModel));
                },
                deep: true
            }
        },

        methods: {
            //初始化
            init() {
                //列表信息：课程分类
                comm.getBaseListApi(GLOBAL_API_URL + "courseCategory", (rs) => this.courseCategoryList = rs);
                //列表数据：课程类型
                comm.getBaseListApi(GLOBAL_API_URL + "courseType", (rs) => this.courseTypeList = rs);
                //多选项数据：课程涉及的知识点
                comm.getBaseListApi(GLOBAL_API_URL + "courseKnowledge", (rs) => {
                    this.courseKnowledgeList = rs;
                    //默认是courseKnowledgeList加载完毕调用selectForPeopleByCategoryId
                    this.selectForPeopleByCategoryId(0);
                });
                //多选项数据：适用人群
                comm.getBaseListApi(GLOBAL_API_URL + "courseForPeople", (rs) => this.courseForPeopleList = rs);

                //默认
                this.params = "?size=" + this.page.size;
            },

            /**
             * 分页点击事件,读取当前页数据
             */
            indexPageData(index) {
                this.page.current = index;
                this.$refs.list.getData(this.getParams(this.model));
            },


            /**
             * 数据加载成功后执行
             * @param data
             */
            loadSuccess(data) {
                console.log("loadSuccess==", data);
                this.page.current = data.current;
                this.page.pages = data.pages;
                this.page.total = data.total;
            },


            /**
             * 搜索区：根据ID过滤
             */
            selectForPeopleByCategoryId(courseCategoryId) {
                this.model.courseCategoryId = courseCategoryId;
                if (courseCategoryId == 0 || courseCategoryId == null) {
                    this.courseKnowledgeListSelect = this.courseKnowledgeList;
                } else {
                    this.courseKnowledgeListSelect = [];
                    this.courseKnowledgeList.forEach(item => {
                        if (item.courseCategoryId == courseCategoryId) {
                            this.courseKnowledgeListSelect.push(item);
                        }
                    });
                }
                this.courseKnowledgeListSelectAll = true;
                //过滤之后的数据，统一不选中。
                this.courseKnowledgeListSelect.forEach(item => {
                    item.hashSelect = false;
                });
                this.model.courseKnowledgeList = [];
            },

            /**
             * 搜索区：选择课程类型
             */
            selectCourseType(courseTypeId) {
                this.model.courseTypeId = courseTypeId;
                //console.log(this.model.courseTypeId )
            },

            /**
             * 搜索区：选择知识点（多选）
             */
            selectCourseKnowledge(indexItem, index) {

                if (indexItem != undefined && index != undefined) {
                    //取反
                    indexItem.hashSelect = !indexItem.hashSelect;
                    this.courseKnowledgeListSelect.splice(index, 1, indexItem)
                    //检测是否是自动取消
                    let subSelect = this.courseKnowledgeListSelect.find(item => item.hashSelect == true);
                    this.courseKnowledgeListSelectAll = subSelect ? false : true;
                } else {
                    this.courseKnowledgeListSelect.forEach(item => {
                        item.hashSelect = false;
                    });
                    this.courseKnowledgeListSelectAll = true;
                }
                //处理并交给模型
                let sList = this.courseKnowledgeListSelect;
                //只保留选中的数据
                sList = sList.filter(item => item.hashSelect);
                this.model.courseKnowledgeList = sList;
            },

            /**
             * 搜索区：适用人群（多选）
             */
            selectCourseForPeople(indexItem, index) {
                if (indexItem != undefined && index != undefined) {
                    //取反
                    indexItem.hashSelect = !indexItem.hashSelect;
                    this.courseForPeopleList.splice(index, 1, indexItem)
                    //检测是否是自动取消
                    let subSelect = this.courseForPeopleList.find(item => item.hashSelect == true);
                    this.courseForPeopleListSelectAll = subSelect ? false : true;
                } else {
                    this.courseForPeopleList.forEach(item => {
                        item.hashSelect = false;
                    });
                    this.courseForPeopleListSelectAll = true;
                }
                //处理并交给模型
                let sList = this.courseForPeopleList;
                //只保留选中的数据
                sList = sList.filter(item => item.hashSelect);
                this.model.courseForPeopleList = sList;
            },

            /**
             * 组合搜索的参数
             */
            getParams(model) {
                this.params = "?size=" + this.page.size
                    + "&current=" + this.page.current;
                if (model.courseCategoryId != "" && model.courseCategoryId != 0) {
                    this.params += "&courseCategoryId=" + model.courseCategoryId;
                }
                if (model.courseTypeId != "" && model.courseTypeId != 0) {
                    this.params += "&courseTypeId=" + this.model.courseTypeId;
                }
                if (model.courseKnowledgeList.length > 0) {
                    let list = [];
                    //只要ID
                    model.courseKnowledgeList.forEach(item => course.push(item.courseKnowledgeId))
                    this.params += "&courseKnowledgeList=" + course.toString();
                }
                if (model.courseForPeopleList.length > 0) {
                    let list = [];
                    //只要ID
                    model.courseForPeopleList.forEach(item => course.push(item.courseForPeopleId))
                    this.params += "&courseForPeopleList=" + course.toString();
                }
                if (model.keyword != null && model.keyword != "") {
                    this.params += "&keyword=" + this.model.keyword;
                }
                if (model.orderType != null) {
                    this.params += "&orderType=" + this.model.orderType;
                }
                console.log("改变后的参数===>", this.params);
                return this.params;
            }
        }
    })
</script>
</body>
</html>