<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/niudao.ico"/>
    <title>牛刀知识共享平台-详情页</title>
    <meta name="keywords" content="系统视图、数据、权限、控制、SaaS平台、PaaS平台、大神、大牛、牛人、程序员">
    <meta name="description" content="DynamicOn低代码平台视频课程，多方位的培训讲解学习社区">

    <link rel="stylesheet" type="text/css" href="./plugs/custom-scrollbar/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="./public/css/niudao.css" >
    <link rel="stylesheet" type="text/css" href="./public/css/page.css" >

    <!--第三方JS框架-->
    <script src="./public/js/vue.min.js"></script>
    <script src="./public/js/axios.min.js"></script>
    <script src="./plugs/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./plugs/custom-scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--自定义JS文件夹-->
    <script src="./public/js/comm.js"></script>
    <script src="./public/js/header-comm.js"></script>
    <script src="./public/js/video-list-comm.js"></script>
    <script src="./public/js/page-comm.js"></script>

</head>

<body>
<div class="web-wrap public-custom-scrollbar" id="app">
    <header-comm index="1"></header-comm>
    <div class="develop-detail">
        <div class="public-bread-share">
            <ul class="public-bread-list margin-auto">
                <li><i class="tml-icon tml-adress"></i>当前位置：</li>
                <li><a href="/">首页 &gt;</a></li>
                <li><a href="course">课程列表 &gt;</a></li>
                <li><a href="javascript:;">课程播放</a></li>
            </ul>
        </div>

        <div class="develop-detail-banner">
            <div class="video-player">

                <div class="video-player-box">
                    <div class="video-player-left">
                        <div class="video-share">
                            <p class="study-num">{{model.courseName}}-{{playV.courseChapterName}}</p>
                            <!--<div style="flex:1;"></div>-->
                            <!--<div class="flex html-Collection" style="margin-right: 30px; ">-->
                                <!--&lt;!&ndash;访问次数&ndash;&gt;-->
                                <!--<a href="javascript:;">-->
                                    <!--<i>  </i>-->
                                    <!--&lt;!&ndash; 点击后状态 class="tml-icon tml-praise-click" &ndash;&gt;-->
                                <!--</a>-->
                                <!--&lt;!&ndash;点赞&ndash;&gt;-->
                                <!--<a href="javascript:;" id="prainsebtn" >-->
                                    <!--<i class="tml-icon tml-praise"></i>-->
                                    <!--&lt;!&ndash; 点击后状态 class="tml-icon tml-praise-click" &ndash;&gt;-->
                                <!--</a>-->
                                <!--&lt;!&ndash;收藏&ndash;&gt;-->
                                <!--<a href="javascript:;" id="collectionbtn">-->
                                    <!--<i  class="tml-icon tml-CollectionisShow"></i>-->

                                    <!--&lt;!&ndash; 点击后状态 class="tml-icon tml-Collection-click" &ndash;&gt;-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="public-share">-->
                                <!--<div id="share-2"></div>-->
                            <!--</div>-->
                        </div>
                        <!--用iframe嵌入网页的方式播放视频-->
                        <iframe v-if="playV && playV.courseChapterType==2" class="video-iframe"
                                :src="playV.courseChapterText+'&high_quality=1&danmaku=0'"
                                allowfullscreen="allowfullscreen"
                                sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"></iframe>

                        <!--直接播放视频-->
                        <video v-if="playV && playV.courseChapterType==1" class="video-change-item"
                               :src="playV.courseChapterText" :poster="playV.courseChapterImg" controls>
                            您的浏览器不支持 video 标签。
                        </video>

                        <div class="develop-detail-content-left">
                            <!--tab导航-->
                            <ul class="public-content-header-right-ul public-tab-list tab-title">
                                <li class="on"><a href="javascript:;" @click="chancetabcontent(0);">课程介绍</a></li>

                            </ul>

                            <!--视频简介 start-->
                            <div class="tab-content" v-show="isShow[0]">
                                <div>
                                    <!--内容-->
                                    <div v-html="HTMLEncode(model.courseDes)"></div>
                                </div>

                            </div>
                            <!--视频简介 end-->

                            <!--视频评论 start-->
                            <ul class="public-content-header-right-ul public-tab-list tab-title">
                                <li class="on"><a href="javascript:;" @click="chancetabcontent(0);">课程评论</a></li>

                            </ul>

                            <!-- 评论列表-->
                            <div class="tab-content" v-show="isShow[0]">
                                <div>
                                    <!--内容-->
                                    <span>功能开发中……</span>
                                </div>

                            </div>

                            <!--视频评论 end-->

                        </div>


                    </div>
                    <div class="video-player-right">
                        <div class="user-info">
                            <!-- 头像-->
                            <div class="user-message">
                                <img src="./assets/img/user/user01png.png" alt="">
                                <div>
                                    <p>梁山独龙</p>
                                    <p>资深架构师</p>
                                </div>
                                <a class="follow-user" href="javascript:;">+关注</a>
                            </div>
                            <div class="user-des">
                                梁山独龙,多年IT搬砖，经历无框架、MVC框架、SOA到现在到微服务架构。参与多个大型项目的研发、实施，对研发、实施深有体会。我会将所学、所用、所踩过的坑和大家分享。
                            </div>
                        </div>

                        <div  class="develop-detail-content-right" v-show="playVLen>1">
                            <p>课程目录</p>
                            <div :class="{nuiScroll:model.courseChapterList.length>8}">
                                <div class="right-item" v-for="item in model.courseChapterList" @click="view(item)">
                                    <div :class="['item-info',{color:playV.courseChapterId==item.courseChapterId}]">
                                        <div class="gray3"><span class="free">P{{item.courseChapterSort}}</span>
                                            {{item.courseChapterName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="develop-detail-content-right" v-if="params">
                            <p>相关课程</p>
                            <video-list-comm search="true" :params="params" :small="true"></video-list-comm>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer-item></footer-item>

</div>
<script src="./public/js/footer.js" type="text/javascript"></script>
<script>
    /**
     * vue对象示例化
     */
    let vue = new Vue({
        el: "#app",
        data: {
            isShow: [1, 2],
            //模型
            model: {
                courseId: null,
                courseTypeId: 0,
                courseCategoryId: 0,
                courseName: null,
                courseImg: null,
                courseDes: null,
                studyNumber:0,
                //章节列表（如：视频）
                courseChapterList: [],
                //知识点
                courseKnowledgeList: [],
                //适用人群
                courseForPeopleList: []
            },
            playVLen: 0,
            playV: {
                //章节选中后的样式
                courseChapterId: null
            },

            //相关视频
            params: null
        },
        //初始化完毕后
        created() {
            this.init();

        },

        methods: {
            init() {
                //取参数：课程id
                this.model.courseId = comm.getParameter("vid");
                //取参数：视频ID
                this.playV.courseChapterId = comm.getParameter("cid");
                //根据courseId取课程信息
                this.getDataByCourseId();

            },
            /**
             * 加载页面数据
             */
            getDataByCourseId() {
                if (!this.model.courseId) {
                    window.location = "course";
                } else {
                    //去远程取数据
                    comm.getFormDataById(GLOBAL_API_URL + "course/" + this.model.courseId, data => {
                        this.model = data;
                        if (this.model.courseChapterList && this.model.courseChapterList.length > 0) {
                            //
                            this.playVLen = this.model.courseChapterList.length;
                            //判断视频ID是否有值，如果没有，默认播放第一个视频
                            //相关视频
                            if (this.playV.courseChapterId == null || this.playV.courseChapterId == "") {
                                this.view(this.model.courseChapterList[0]);
                            } else {
                                //如果视频ID不为空
                                //从model.courseChapterList中找对应的播放视频
                                let viewIndexItem = this.model.courseChapterList.find(item => item.courseChapterId == this.playV.courseChapterId);
                                this.view(viewIndexItem);

                            }
                        }
                        this.params = `/ralationCourse?size=5&courseTypeId=${this.model.courseTypeId}&courseId=${this.model.courseId}`;
                    });

                }

            },

            HTMLEncode(value) {
                var temp = document.createElement("div");
                temp.innerHTML = value;
                var output = temp.innerText || temp.textContent;
                temp = null;
                return output;
            },


            /**
             * 查看视频
             * @param item
             */
            view(item) {
                this.playV = item;
                //设置URL
                comm.setUrlParam("cid", item.courseChapterId);
                //设置标题
                document.title = `${this.model.courseName}-${item.courseChapterName}`;
            }
        }
    });
</script>
</body>
</html>